[submodule "chapter-10/ProgrammingPrinciplesAndPracticeUsingQt"]
	path = chapter-10/ProgrammingPrinciplesAndPracticeUsingQt
	url = https://github.com/floydrise/ProgrammingPrinciplesAndPracticeUsingQt
